html {
    scroll-behavior: smooth;
    overflow: hideen;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-subtitle {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p {
    display: flex;
    text-align: justify;
}
