@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/bg-violet.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: 90% 15%;
}

.showing {
    /*  */
}

@media(max-width: 767px) {
    body {
        background-size: 1600px;
        background-position: 50% -25px;
    }
}